/*
 * @file
 * Provides the layout styles for layout_threecol_33_34_33.
 */

.layout--fourcol {
  display: flex;
  flex-wrap: wrap;
}

.layout--fourcol > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--fourcol > .layout__region--first {
    flex: 0 1 25%;
  }

  .layout--fourcol > .layout__region--second,
  .layout--fourcol > .layout__region--third,
  .layout--fourcol > .layout__region--fourth {
    flex: 0 1 25%;
  }
}
