// Overriding/customizing USWDS default buttons

.usa-button {
  $icon-transition: 5px;
  $curve-radius: 100% 0% 0% 0%/100% 0% 0% 0%;

  @mixin background-curve($dark, $light) {
    background-image: radial-gradient(
      ellipse farthest-corner at 220% 190%,
      $dark 80%,
      $light calc(80% + 0.5px)
    );
  }

  @include background-curve(color(primary-dark), color(primary));
  position: relative;
  width: auto;
  padding: 1em 1.5em 0.85em;
  vertical-align: bottom;
  font-size: size('body', 5);
  z-index: 1;

  // fake background to "transition" the gradient
  &::before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: radius($theme-button-border-radius);
    background: color(primary-dark);
    opacity: 0;
    transition: opacity gesso-duration(short) gesso-easing(ease-in);
    // behind the text
    z-index: -1;
    content: '';
  }

  &:hover,
  &:focus {
    box-shadow: get-uswds-value(box-shadow, 2);
    color: gesso-color(button, primary, text-hover);

    &::before {
      opacity: 1;
    }
  }

  &[disabled] {
    &,
    &:hover,
    &:focus {
      @include background-curve(
        $theme-color-base-lightest-transparent,
        gesso-color(button, disabled, background)
      );
      background-color: gesso-color(button, disabled, background);
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      box-shadow: none;

      &::before {
        opacity: 0;
      }
    }
  }

  &--secondary {
    $border-w: 2px;
    background: gesso-color(button, secondary, background);
    border: $border-w solid gesso-color(button, secondary, border);
    color: gesso-color(button, secondary, text);

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      background: gesso-color(button, secondary, background-hover);
      border: $border-w solid gesso-color(button, secondary, border-hover);
      color: gesso-color(button, secondary, text-hover);
    }

    &[disabled] {
      &,
      &:hover,
      &:focus {
        background: gesso-color(button, secondary, background);
        border: $border-w solid gesso-color(button, disabled, border);
        color: color(base);
      }
    }
  }

  &--unstyled {
    padding: 0;

    &,
    &[disabled] {
      &,
      &:hover,
      &:focus {
        background: transparent;
      }
    }

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      box-shadow: none;
      color: color($theme-link-hover-color);
    }

    &[disabled] {
      &,
      &:hover,
      &:focus {
        color: color(base-dark);
      }
    }
  }

  // not a real USWDS class, custom
  &--text {
    // just leave space for the icon
    padding: 0 $icon-transition 0 0;

    &,
    &:hover,
    &:focus {
      background: transparent;
      color: gesso-color(button, secondary, text);
    }

    &::before {
      display: none;
    }

    &::after {
      $icon-size-x: 25px;
      $icon-size-y: 25px;
      display: inline-block;
      width: $icon-size-x;
      height: $icon-size-y;
      // Pull it over so the visual part of the icon is touching the edge of the padding on the right
      margin-right: (-$icon-size-x / 3);
      display: inline-block;
      vertical-align: middle;
      mask: url('../dist/images/usa-icons/navigate_next.svg') no-repeat center;
      mask-size: cover;
      background-color: currentColor;
      transition: transform gesso-duration(short) gesso-easing(ease-in);
      content: '';
    }

    &:hover,
    &:focus {
      box-shadow: none;
      color: color($theme-link-hover-color);

      &::after {
        transform: translateX($icon-transition);
      }
    }

    &[disabled] {
      &,
      &:hover,
      &:focus {
        background: transparent;
        color: color(base-dark);
      }

      &:hover,
      &:focus {
        &::after {
          transform: none;
        }
      }
    }
  }

  &--big {
    font-size: size('body', 8);

    &.usa-button--icon {
      &::after {
        $icon-size-x: 30px;
        $icon-size-y: 30px;
        // tuck it a little closer to the text for big buttons
        margin-left: -($icon-size-x / 6);
        // Pull it over so the visual part of the icon is touching the edge of the padding on the right
        margin-right: (-$icon-size-x / 3);
        width: $icon-size-x;
        height: $icon-size-y;

        @include at-media('tablet') {
          margin-left: 0;
        }
      }
    }
  }

  &--small {
    font-size: size('body', 3);
  }
}
