// Component: Breadcrumb

.c-breadcrumb {
  margin: gesso-spacing(4) 0;
  min-height: rem(40px);
  font-size: size('body', 1); // 12px
  padding-top: gesso-spacing(2);
  padding-bottom: gesso-spacing(2);

  @include at-media('tablet') {
    font-size: size('body', 3); // 14px
  }

  &__list {
    @include list-inline();
    margin-top: 0;

    > li {
      display: none;

      // the parent of the current page
      &:nth-last-child(2) {
        display: block;
      }

      &::before,
      &::after {
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        vertical-align: middle;
        content: '';
      }

      &::before {
        $icon-size-x: 12px;
        $icon-size-y: 12px;
        display: inline-block;
        width: $icon-size-x;
        height: $icon-size-y;
        mask-image: url('../dist/images/usa-icons/arrow_back.svg');
        background-color: gesso-color(text, link);
      }

      &::after {
        display: none;
      }

      a,
      span {
        display: inline-block;
      }

      @include at-media('tablet') {
        &,
        &:nth-last-child(2) {
          display: inline-block;
        }

        &::before {
          display: none;
        }

        &::after {
          $icon-size-x: 20px;
          $icon-size-y: 20px;
          display: inline-block;
          width: $icon-size-x;
          height: $icon-size-y;
          mask-image: url('../dist/images/usa-icons/navigate_next.svg');
          // TODO: Replace this color with a global variable
          background-color: rgba(23, 23, 23, 0.5);
        }

        &:last-child::after {
          display: none;
        }
      }
    }
  }
}
