// @file
// Component: c-article-listing

.c-article-listing {
  .article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 0;
    border-bottom: 2px solid gesso-color(ui, generic, border);

    h4 {
      margin-right: 20px;
    }

    a {
      margin: 0;
    }
  }

  .usa-button {
    margin-top: 20px;
  }
}
